{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <style>
        .page-content {
            max-width: 900px;
            margin: 0 auto;
            padding: 0 32px 4rem;
        }

        .page-content h1 {
            font-size: 2.5rem;
            margin: 50px 0 30px;
        }

        a {
            color: #ff4a22;
        }
    </style>
{% endblock extra_css %}
{% block content %}
    <main class="page-content">
        <h1>Contact Us</h1>
        <div class="boxed-text">
            <p>
                If you have any questions, need assistance, or want to learn more about how
                Chautari can enhance your event discovery experience, we're here to help!
                Reach out to us using the contact details below, and a member of our team will
                get back to you promptly.
                <br>
                <br>
                Whether you're an event organizer looking to expand
                your audience or an attendee searching for the perfect event,
                Sano Chautari Software Company Limited is ready to support you every step of the way.
            </p>
            <br>
            <p>
                <strong>Email:</strong>
                <a href="mailto:support@chautari.com">support@chautari.com</a>
            </p>
            <p>
                <strong>Phone:</strong>
                <a href="tel:+1234567890">+123-456-7890</a>
            </p>
            <p>
                <strong>Address:</strong>
                Exhibition Road, Kathmandu, Nepal
            </p>
            <p>We look forward to connecting with you!</p>
        </div>
    </main>
{% endblock content %}
