footer {
  background-color: #0a0a0a;
  color: #a3a3a3;
}

.footer-inner {
  padding: 32px;
  max-width: 78rem;
  margin: 0 auto;
}

.footer-element-one {
  margin: 50px 0 0 0;
  color: #fff;
}

.footer-element-two {
  margin: 20px 0px;
}

.footer-element-two ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.footer-element-two ul li {
  margin-bottom: 10px;
  padding: 0 20px 0 0;
}

.footer-element-two ul li a {
  color: #a3a3a3;
  text-decoration: none;
}

.footer-element-two ul li a:hover {
  color: #f5f5f5;
}

.footer-element-three {
  margin: 0 0 30px 0;
}

.footer-element-three a {
  color: #a3a3a3;
  text-decoration: none;
  margin-right: 15px;
}

.footer-element-three a:hover {
  color: #f5f5f5;
}

.copy-info {
  color: #737373;
  margin-bottom: 40px;
}
