h1 {
  margin-top: 120px;
  font-size: 4.2rem;
  text-wrap: balance;
  text-align: center;
  line-height: 1;
  letter-spacing: -1.75px;
  font-weight: 700;
  margin-bottom: 32px;
}

.description {
  color: #525252;
  font-size: clamp(1.2rem, 3.8vw, 2.1rem);
  text-wrap: balance;
  font-weight: 500;
  line-height: 1.375;
  letter-spacing: -0.025em;
  text-align: center;
}

main {
  padding-left: 32px;
  padding-right: 32px;
  margin: 64px;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.cta a {
  margin: 0 8px;
  display: inline-flex;
  align-items: center;
}

.button-arrow {
  display: inline-flex;
  flex: none;
  justify-content: center;
  color: white;
  vertical-align: bottom;
  margin-left: 4px;
}

.primary-button {
  color: white;
  background-color: #ff4a22;
  padding: 14px 25px;
  border-radius: 66px;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.primary-button:hover {
  background-color: #ff6438;
}

.secondary-button {
  color: #171717;
  background-color: #f0f0f0;
  padding: 14px 25px;
  border-radius: 66px;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.secondary-button:hover {
  background-color: #e5e5e5;
}

.advert-video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 40px auto;
}

.advert-video {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
}

/* Video preview placeholder */
.video-preview-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  width: 100%;
  max-width: 72rem;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 0.25rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.video-preview-inner {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, black, black);
}

.video-preview-label {
  display: block;
  max-width: 15rem;
  padding: 1rem 3rem;
  background-color: white;
  color: black;
  border-radius: 9999px;
  text-align: center;
}

hr {
  border: 0;
  height: 1px;
  background: #f0f0f0;
  margin: 32px 0;
}

@media (max-width: 600px) {
  .advert-video {
    padding: 1rem;
  }
}

@media (max-width: 470px) {
  .cta {
    flex-direction: column;
    gap: 1rem;
  }

  .cta a {
    width: 100%;
    justify-content: center;
  }

  h1 {
    text-align: left;
  }

  .description {
    text-align: left;
  }
}

@media (max-width: 900px) {
  main {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
  }
}
